<a href="https://colab.research.google.com/github/anvarjon36/data-science/blob/main/03_Series_metodlari.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science va Sun'iy intellekt praktikum
Ma'lumotlar tahlili. Pandas kutubxonasi

2.2 Pandas kutubxonasi bilan tanishuv

In [1]:
import pandas as pd

In [2]:
import numpy as np

Pandas da 2 ta ma'lumotlar tuzilmasi mavjud: Series va DataFrame.

Series yordamida ma'lumotlarni saqlash mumkin. Python da har qanday ma'lumot -- **obyekt** deyiladi

In [3]:
from pandas import Series

In [4]:
obj = Series([4, 5, 6, -6.5])

In [5]:
type(obj)

pandas.core.series.Series

In [6]:
print(obj)

0    4.0
1    5.0
2    6.0
3   -6.5
dtype: float64

In [7]:
obj.values

array([ 4. ,  5. ,  6. , -6.5])

In [8]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
obj[0]

4.0

! **Series** ning **ro'yxat**dan farqi - *Index* larni biz berishimiz mumkin:

In [10]:
obj2 = Series([6, 3, 2, 1], index = ['a', 'b', 'c', 'd'])
obj2

a    6
b    3
c    2
d    1
dtype: int64

In [11]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

! Ba'zi index larga murojaat:

In [12]:
obj2['a'] # bitta indeksga murojaat

6

In [13]:
obj2[['d','b','a']] # bir nechta indeksga murojaat, bunda indekslar ro'yxat tarzida uzatiladi

d    1
b    3
a    6
dtype: int64

Turli arifmetik amallar:

In [14]:
obj2[obj2<3] # Filtrlash. obj2 dagi 3 dan kichik qiymatlar

c    2
d    1
dtype: int64

In [15]:
obj2 * 3

a    18
b     9
c     6
d     3
dtype: int64

In [16]:
np.exp(obj2)

a    403.428793
b     20.085537
c      7.389056
d      2.718282
dtype: float64

# Lug'atdan Series yaratish

Series obyektiga e'tibor bersangiz: indeks va qiymatdan tashkil topgan bo'lib, pythondagi lug'at (dict) ga o'xshab ketadi. Ya'ni, Series obyektini dict dan yaratsak ham bo'ladi.

In [17]:
cars_dict = {'Malibu':40000, 'Lacetti':20000, 'Toyota':45000, 'Mazda':52000, 'Honda':38000}

In [18]:
type(cars_dict) # cars_dict ma'lumot turi

dict

In [19]:
cars1 = Series(cars_dict) # Lug'atdan Series yaratyapmiz

In [20]:
cars1

Malibu     40000
Lacetti    20000
Toyota     45000
Mazda      52000
Honda      38000
dtype: int64

In [21]:
type(cars1)

pandas.core.series.Series

In [22]:
'Malibu' in cars1 # cars1 ichida Malibu indeksi bormi?

True

In [23]:
'BMW' in cars1

False

In [24]:
cars1['Toyota'] # indeks qiymatini ko'rish

45000

Indekslar tartibini mustaqil berish

In [29]:
models = ['Honda','Mazda','Lacetti','Jaguar','Malibu','Toyota','BMW','Mercedes']

In [30]:
cars2 = Series(cars_dict, index=models) # lug'atdan indekslari biz bergan tartibdagi series yaratish

In [31]:
cars2

Honda       38000.0
Mazda       52000.0
Lacetti     20000.0
Jaguar          NaN
Malibu      40000.0
Toyota      45000.0
BMW             NaN
Mercedes        NaN
dtype: float64

Mavjud bo'lmagan indeks qiymati NaN bilan to'ldiriladi